@charset "utf-8";

@import "govuk_frontend_toolkit/stylesheets/colours";
@import "govuk_frontend_toolkit/stylesheets/conditionals";
@import "govuk_frontend_toolkit/stylesheets/css3";
@import "govuk_frontend_toolkit/stylesheets/device-pixels";
@import "govuk_frontend_toolkit/stylesheets/font_stack";
@import "govuk_frontend_toolkit/stylesheets/grid_layout";
@import "govuk_frontend_toolkit/stylesheets/helpers";
@import "govuk_frontend_toolkit/stylesheets/measurements";
@import "govuk_frontend_toolkit/stylesheets/typography";
@import "govuk_frontend_toolkit/stylesheets/url-helpers";

@import "govuk_frontend_toolkit/stylesheets/design-patterns/buttons";

@import "govuk-elements-sass/public/sass/elements/helpers";
@import "govuk-elements-sass/public/sass/elements/buttons";
@import "govuk-elements-sass/public/sass/elements/elements-typography";
@import "govuk-elements-sass/public/sass/elements/forms";
@import "govuk-elements-sass/public/sass/elements/layout";
@import "govuk-elements-sass/public/sass/elements/lists";
@import "govuk-elements-sass/public/sass/elements/panels";

@import "govuk_template/source/assets/stylesheets/styleguide/colours";
@import "govuk_template/source/assets/stylesheets/accessibility";
@import "govuk_template/source/assets/stylesheets/footer";

@import "util/printable";

@import "modules/breadcrumbs";
@import "modules/content-section";
@import "modules/full-width-form";
@import "modules/govuk-logo";
@import "modules/header";
@import "modules/hero";
@import "modules/hero-alternative-action";
@import "modules/hero-button";
@import "modules/masthead";
@import "modules/phase-banner";
@import "modules/related-items";
@import "modules/responsive-embed";
@import "modules/skip-link";
@import "modules/sub-navigation";

html, body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  @include core-19;
}

#main {
  display: block;
  margin-bottom: $gutter * 3;
}

.container {
  @extend %site-width-container;
}

a:link {
  color: $link-colour;
}

a:visited {
  color: $link-visited-colour;
}

a:hover {
  color: $link-hover-colour;
}

a:active {
  color: $link-active-colour;
}
