@charset "utf-8";

@import "govuk_frontend_toolkit/stylesheets/colours";
@import "govuk_frontend_toolkit/stylesheets/conditionals";
@import "govuk_frontend_toolkit/stylesheets/css3";
@import "govuk_frontend_toolkit/stylesheets/device-pixels";
@import "govuk_frontend_toolkit/stylesheets/font_stack";
@import "govuk_frontend_toolkit/stylesheets/grid_layout";
@import "govuk_frontend_toolkit/stylesheets/helpers";
@import "govuk_frontend_toolkit/stylesheets/measurements";
@import "govuk_frontend_toolkit/stylesheets/typography";
@import "govuk_frontend_toolkit/stylesheets/url-helpers";

@import "govuk_frontend_toolkit/stylesheets/design-patterns/buttons";

@import "govuk_elements/buttons";
@import "govuk_elements/forms";
@import "govuk_elements/panels";

@import "govuk_template/styleguide/colours";
@import "govuk_template/accessibility";
@import "govuk_template/footer";

@import "util/fonts";
@import "util/grid";
@import "util/printable";

@import "modules/hero";
@import "modules/hero-alternative-action";
@import "modules/hero-button";
@import "modules/related-items";
@import "modules/content-section";
@import "modules/sub-navigation";
@import "modules/header";
@import "modules/govuk-logo";
@import "modules/phase-banner";
@import "modules/breadcrumbs";
@import "modules/masthead";

html, body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  @include core-19;
}

html, body, div, p, h1, h2, h3, h4, h5, h6, article, aside, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, p {
  margin: $gutter-half 0;
}

.container {
  @extend %site-width-container;
}

a:link {
  color: $link-colour;
}

a:visited {
  color: $link-visited-colour;
}

a:hover {
  color: $link-hover-colour;
}

a:active {
  color: $link-active-colour;
}
