@charset "utf-8";

$govuk-assets-path: "/assets/govuk/assets/";

@import "govuk/all";

@import "modules/borders";
@import "modules/breadcrumbs";
@import "modules/header";
@import "modules/hero";
@import "modules/hero-alternative-action";
@import "modules/image";
@import "modules/inverted-button";
@import "modules/masthead";
@import "modules/navigation";
@import "modules/related-items";
@import "modules/responsive-embed";
@import "modules/sub-navigation";

// scss-lint:disable IdSelector
#main-content {
  display: block;
  margin-bottom: govuk-spacing(9);
}
// scss-lint:enable IdSelector
