---
title: GOV.UK Product Pages
---

<div class="hero">
  <div class="hero__content">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="hero__title">A hero unit</h1>
        <p class="hero__description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <a href="#" role="button" class="hero-button">
          Click on this call to action
        </a>
        <p class="hero__description">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
      </div>
      <div class="column-one-third">
        <img src="https://placehold.it/646x492/005ea5/ffffff?text=A+supporting+image" class="hero__image">
      </div>
    </div>
  </div>
</div>

<main class="container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <section class="content-section">
        <h1 class="content-section__title">A section</h1>
        <p class="content-section__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </section>

      <section class="content-section content-section--with-top-border">
        <h1 class="content-section__title">A section</h1>
        <p class="content-section__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </section>

      <section class="content-section content-section--with-top-border">
        <h1 class="content-section__title">A section</h1>
        <p class="content-section__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </section>
    </div>

    <div class="column-one-third">
      <div class="related-items">
        <h1 class="related-items__title">Related content</h1>
        <ul class="related-items__list">
          <li><a href="#">A link</a></li>
          <li><a href="#">Another link</a></li>
          <li><a href="#">A third link</a></li>
        </ul>
      </div>
    </div>
  </div>

  <section class="content-section content-section--with-top-border">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="content-section__title">A full-width section</h1>
        <p class="content-section__body">This section is full-width on tablet and above.</p>
      </div>
    </div>
  </section>

  <div class="grid-row">
    <div class="column-half">
      <section class="content-section content-section--with-top-border">
        <h1 class="content-section__title">A section with an image</h1>
        <p>On tablet screen sizes and above, this is a left-aligned section with an image to the right.</p>
      </section>
    </div>
    <div class="column-half">
      <section class="content-section">
        <img src="https://placehold.it/1000x1000" class="content-section__image">
      </section>
    </div>
  </div>
</main>
