---
title: Supplementary Page Example
---
<div class="breadcrumbs">
  <a href="https://www.gov.uk/service-toolkit" class="breadcrumbs__link">Service Toolkit</a>
  <a href="/" class="breadcrumbs__link">Product Pages</a>
  <a href="/supplementary.html" class="breadcrumbs__link breadcrumbs__link--active">Supplementary Page</a>
</div>

<div class="container">
  <div class="grid-row">
    <div class="column-one-third">
      <nav class="sub-navigation">
        <a href="#heading-1" class="sub-navigation__link">Heading 1</a>
        <a href="#heading-2" class="sub-navigation__link">Heading 2</a>
        <a href="#heading-3" class="sub-navigation__link">Heading 3</a>
      </nav>
    </div>

    <div class="column-two-thirds">
      <h1 id="heading-1">Heading 1</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <h2 id="heading-2">Heading 2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <h3 id="heading-3">Heading 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>
