.product-page-\!-border-top {
  border-top: 1px solid $govuk-border-colour;
}

.product-page-\!-border-right {
  border-right: 1px solid $govuk-border-colour;
}

.product-page-\!-border-bottom {
  border-bottom: 1px solid $govuk-border-colour;
}

.product-page-\!-border-left {
  border-left: 1px solid $govuk-border-colour;
}
