.breadcrumbs {
  @extend %site-width-container;
  @include core-16;

  padding: $gutter-half 0 $gutter-one-third;
  margin-bottom: $gutter;
  list-style: none;

  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: inline-block;

    margin: 0;
    padding: 0 $gutter-one-quarter 0 (11px + $gutter-one-quarter);

    background-image: image-url('govuk_frontend_toolkit/images/separator.png');
    background-repeat: no-repeat;
    background-size: 6px 11px;
    background-position: left center;

    white-space: nowrap;

    @include device-pixel-ratio(2) {
      background-image: image-url('govuk_frontend_toolkit/images/separator-2x.png');
    }

    &,
    a:link,
    a:hover,
    a:active,
    a:visited {
      color: $black;
    }

    &--active {
      @include bold-16;

      a:link,
      a:visited {
        text-decoration: none;
      }
    }

    &:first-child {
      padding-left: 0;
      background-image: none;
    }
  }

  &--inverse {
    border-bottom: 1px rgba($white, 0.25) solid;

    .breadcrumbs__item {
      &--active,
      a:link,
      a:hover,
      a:active,
      a:visited {
        color: $white;
      }
    }
  }
}
