.breadcrumbs {
  @extend %site-width-container;
  @include core-16;

  padding: $gutter-half 0 $gutter-one-third;
  margin-bottom: $gutter-half;
  list-style: none;

  @include media(tablet) {
    margin-bottom: $gutter-two-thirds;
  }

  &__link {
    background-image: url('/images/breadcrumbs/separator.png');
    background-repeat: no-repeat;
    background-size: 6px 11px;
    background-position: left center;
    padding: 0 $gutter-one-quarter 0 (11px + $gutter-one-quarter);
    white-space: nowrap;
    display: inline-block;

    @include device-pixel-ratio(2) {
      background-image: url('/images/breadcrumbs/separator@2x.png');
    }

    a:link,
    a:hover,
    a:active,
    a:visited {
      color: $black;
    }

    &--active a:link,
    &--active a:hover,
    &--active a:active,
    &--active a:visited {
      @include bold-16;
      text-decoration: none;
    }

    &:first-child {
      padding-left: 0;
      background-image: none;
    }
  }

  &--on-blue {
    border-bottom: 1px #377fb9 solid;

    .breadcrumbs__link {
      a:link,
      a:hover,
      a:active,
      a:visited {
        color: $white;
      }
    }
  }
}
