/**
 * Content Section Component
 *
 * Represents a section of content on the product page, with a title and
 * optional image.
 *
 * Example Usage:
 *
 * <section class="content-section">
 *   <h2 class="content-section__title">Section Title</h2>
 *   <p class="content-section__body">Lorem ipsum dolor...</p>
 * </section>
 */

.content-section {
  margin-top: $gutter;

  &__image {
    max-width: 100%;
  }

  &--with-top-border {
    padding-top: $gutter;
    border-top: 1px $grey-3 solid;
    
    .content-section__first-heading {
      margin-top: 0;
    }
  }
}
