.content-section {
  margin-top: $gutter;

  &__title {
    @include bold-36;
    margin-top: 0;
  }

  &__image {
    max-width: 100%;
  }

  &--with-top-border {
    padding-top: $gutter;
    border-top: 1px $grey-3 solid;
  }
}
