/**
 * Full Width Form Component
 *
 * Overrides the default GOV.UK form style so that the form inputs are full
 * width. Used on the support page, for example.
 *
 * Example Usage:
 *
 * <form method="post" class="full-width-form">
 *   <div class="form-group">
 *     <label class="form-label" for="subject">Subject</label>
 *     <input type="text" class="form-control" id="subject" name="subject" />
 *   </div>
 * </form>
 */

.full-width-form {
  .form-control {
    width: 100%;
  }
}
