/**
 * Hero Component
 *
 * Notes:
 * - If using together with a breadcrumb in a masthead, add the --breaded
 *   modifier to reduce top padding.
 *
 * Example Usage:
 *
 * <div class="hero hero--breaded">
 *  <div class="hero__content">
 *    <div class="grid-row">
 *      <div class="column-two-thirds">
 *        <h1 class="hero__title">Verify that you've paid to send notifications to a register on a platform.</h1>
 *        <p class="hero__description">
 *          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
 *        </p>
 *        <a href="#" role="button" class="hero-button">
 *          Do this thing
 *        </a>
 *        <span class="hero-alternative-action">
 *          or <a href="#">do another thing</a> because reasons
 *        </span>
 *      </div>
 *    </div>
 *  </div>
 * </div>
 */

.hero {
  color: $white;

  a:link,
  a:visited {
    font-weight: bold;
    color: $white;
  }

  a:hover,
  a:active {
    color: $light-blue-25;
  }

  &__content {
    $border-top-width: 10px;

    @extend %site-width-container;

    padding: ($gutter-half + $border-top-width) 0 $gutter-half;

    @include media(tablet) {
      padding: ($gutter + $border-top-width) 0 $gutter;
    }
  }

  &__title {
    @include bold-48;
  }

  &__description {
    @include core-24;
  }

  &__title, &__description {
    margin-bottom: $gutter-half;
    
    @include media(tablet) {
      margin-bottom: $gutter;
    }
  }

  &__image {
    max-width: 100%;
    margin-top: $gutter-half;
  }

  &--breaded {
    .hero__content {
      padding-top: 0;
    }
  }
}
