.related-items {
  border-top: 10px solid $govuk-blue;
  margin: $gutter 0;

  &__title {
    @include bold-24;
    margin-bottom: $gutter-one-third;
  }

  &__list {
    @include core-16;
    list-style: none;
    padding-left: 0;
    margin: 0 0 $gutter-half;

    li {
      margin-bottom: $gutter-one-third;
    }
  }
}
