/**
 * Sub Navigation Component
 *
 * Notes:
 *
 * - You may wish to add a suitable aria-label to differentiate between other
 *   navigation landmarks on the page.
 * - You can test the structured data using Google's structured data testing
 *   tool: https://search.google.com/structured-data/testing-tool
 * - You can use either an ordered or unordered list depending on what makes
 *   sense for your page or collection of pages.
 *
 * Example Usage:
 *
 * <nav class="sub-navigation">
 *   <ol itemscope itemtype="http://schema.org/ItemList">
 *     <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
 *       <a href="page-one.html" itemprop="item"><span itemprop="name">Another page one</span></a>
 *     </li>
 *     <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
 *       <a href="page-two.html" itemprop="item"><span itemprop="name">Another page two</span></a>
 *     </li>
 *   </ol>
 * </nav>
 */

.sub-navigation {
  @include media(tablet) {
    margin-top: $gutter * 1.5;
  }

  ol,
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    @include core-16;

    border-bottom: 1px $grey-3 solid;
    display: block;
    padding: $gutter-one-third 0;

    a:link {
      text-decoration: none;
    }

    a:hover,
    a:active {
      text-decoration: underline;
    }
  }

  &__item--active {
    @include bold-16;
    
    a:link, a:visited {
      color: $text-colour;
    }
  }
}
